NEXT_PUBLIC_API_URL=https://projectsapi.codevertexitsolutions.com
NEXT_PUBLIC_AUTH_URL=https://sso.codevertexitsolutions.com
NEXT_PUBLIC_SSO_URL=https://sso.codevertexitsolutions.com
NEXT_PUBLIC_SSO_CLIENT_ID=projects-ui
NEXT_PUBLIC_APP_ENV=production

